section#blog
	.container
		.line
			.box-name
				p.display-block BLOG
		.row
			+textblog("blogimg1")
			+textblog("blogimg2")
			+textblog("blogimg3")
			+textblog("blogimg4")
		.row
			.col-sm-4.col-xs-12
				.media
					.media-left
						i.fa.fa-phone-square.display-block
					.media-body
						h4 ORDER ONLINE NOW
						P Call Us: [0123] 456 789
			.col-sm-4.col-xs-12
				.media
					.media-left
						i.fa.fa-plane
					.media-body
						h4 FREE WORLDWIDE SHIPPING
						P On Order Over $100
			.col-sm-4.col-xs-12
				.media
					.media-left
						i.fa.fa-money
					.media-body
						h4 30 DAYS MONEY BACK 100%
						P satisfaction Guarantee