section
	.container
		.line
		.box-nane
			i.display-block.fa.fa-chevron-left
			p.display-block.negro CLOTHING
			p.display-block EQUIPMENTS
			p.display-block JEWELLERY
			i.display-block.fa.fa-chevron-right
		.row
			+clothing2("imga")
			+clothing("imgb")
			+clothing("imgc")
		.row
			+clothing("imgd")
			+clothing2("imge")
			+clothing("imgf")
