section#accesories
	.container
		.row
			.col-md-3.col-sm-12
				h3 ACCESORIES
				P Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, illum. Saepe totam enim facilis modi commodi quisquam alias. Facilis enim assumenda deleniti aut illo animi veritatis rem inventore doloremque quod.
				.red.display-block
					i.fa.fa-facebook
				.red.display-block
					i.fa.fa-twitter
				.red.display-block
					i.fa.fa-rss
				.red.display-block
					i.fa.fa-skype
				.red.display-block
					i.fa.fa-dribbble
			.col-md-6.col-sm-12
				.tree.display-block
					h3 MY ACCOUNT
					p
						i.fa.fa-caret-right &nbsp;My Account 
					p
						i.fa.fa-caret-right &nbsp;Order Hitory
					p
						ii.fa.fa-caret-right &nbsp;Wish List
					p
						ii.fa.fa-caret-right &nbsp;Newsletter
				.tree.display-block
					h3 INFORMATION
					p
						i.fa.fa-caret-right &nbsp;About Us
					p
						i.fa.fa-caret-right &nbsp;Delivery Information
					p
						ii.fa.fa-caret-right &nbsp;Privacy Policy
					p
						ii.fa.fa-caret-right &nbsp;Terms & Conditions
				.tree.display-block
					h3 EXTRAS
					p
						i.fa.fa-caret-right &nbsp;Brands
					p
						i.fa.fa-caret-right &nbsp;Gift Vouchers
					p
						ii.fa.fa-caret-right &nbsp;Affiliates
					p
						ii.fa.fa-caret-right &nbsp;Specials
			.col-md-3.col-sm-12
				h3 ABOUT US
				.media
					.media-left
						i.fa.fa-map-marker
					.media-body
						p 8901 	marmora Road, Glasgow D04 8 9
						P GR, New York
				.media
					.media-left
						i.fa.fa-phone
					.media-body
						p (0123)456789
						P (0987)654321
				.media
					.media-left
						i.fa.fa-envelope
					.media-body
						P admin@bootexperts.com
footer
	.container
		.row
			.col-sm-9.col-xs-12
				p Copyright © 2015 BootExperts.All rights reserved.
			.col-sm-3.col-xs-12
				img.img-responsive(src="assets/images/payment.png")
						