section
	.container
		.row
			.col-md-5.col-sm-12
				img.img-responsive(src="assets/images/banner1.jpg")
			.col-md-7.col-sm-12
				img.img-responsive(src="assets/images/banner2.jpg")
section
	.container
		.line
		.box-name
			i.display-block.fa.fa-chevron-left
			p.display-block.negro LATEST
			p.display-block BESTSELLER
			p.display-block SALE
			i.display-block.fa.fa-chevron-right
		.row
			.col-md-3.col-sm-6.col-xs-12
				.box-white.text-center.thumbnail
					+botonnew()
					+latestimg("img1")
					+stars()
					+money()
			.col-md-3.col-sm-6.col-xs-12
				.box-white.text-center.thumbnail
					+botonsalenew()
					+latestimg("img2")
					+stars()
					+moneytwo()
			.col-md-3.col-sm-6.col-xs-12
				.box-white.text-center.thumbnail
					+botonsalenew()
					+latestimg("img3")
					+stars()
					+moneytwo()
			.col-md-3.col-sm-6.col-xs-12
				.box-white.text-center.thumbnail
					+botonnew()
					+latestimg("img3")
					+stars()
					+money()
	.box-fa
		i.fa.fa-chevron-up
section#banner-image
	.container
		.row
			.col-md-2.col-sm-4.col-xs-12
				img.img-responsive(src="assets/images/client1.jpg")
			.col-md-2.col-sm-4.col-xs-12
				img.img-responsive(src="assets/images/client2.jpg")
			.col-md-2.col-sm-4.col-xs-12
				img.img-responsive(src="assets/images/client3.jpg")
			.col-md-2.col-sm-4.col-xs-12
				img.img-responsive(src="assets/images/client4.jpg")
			.col-md-2.col-sm-4.col-xs-12
				img.img-responsive(src="assets/images/client5.jpg")
			.col-md-2.col-sm-4.col-xs-12
				img.img-responsive(src="assets/images/client6.jpg")
